/* hide native tab bar */

#TabsToolbar {
    visibility: collapse;
}

/* hide a titlebar */
#titlebar {
  display: none;
}

/* hide a sidebar header */
#sidebar-header {
  visibility: collapse !important;
}

#tabbrowser-tabs {
  visibility: collapse !important;
}
